.headerText{
    color: blue;
    font-weight: bold;
    font-size: 1.6rem;
}

@media (max-width: 576px) {
    .headerText {
        text-align: center;
    }
    .buttons {
        display: flex;
        justify-content: center;
    }
    .buttons :first-child {
        margin-right: 5px;
    }
}