.profilePic{
    width: 80%;
    border-radius: 50%;
    display: inline-block;
}
.picContainer, .tmContainer{
    padding: 0;
    cursor: default;
}

.tmContainer{
    font-size: 80%;
    margin-top: 3%;
}

.itemContainer:hover{
    background-color: blue;
    color: white;
}